body {
	background-color: #EEEEEE;
	background-image: url('https://ep01.epimg.net/elpais/imagenes/2018/03/01/album/1519910473_492871_1519910821_noticia_normal.jpg');
	background-size: cover;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.contenedor-profile {
	width: 500px;
	height: 500px;
	margin: auto;
	text-align: center;
}